@page
@model Cap01App.Pages.CariHesaplar.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarilerT</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Distid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Distid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Cariref)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Cariref)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Kodu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Kodu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Unvani)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Unvani)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Ozelalan1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Ozelalan1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Ozelalan2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Ozelalan2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Ozelalan3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Ozelalan3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Ozelalan4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Ozelalan4)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Ozelalan5)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Ozelalan5)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Kanal1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Kanal1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Kanal2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Kanal2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Kanal3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Kanal3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Kanal4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Kanal4)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Kanal5)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Kanal5)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Yetkikodu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Yetkikodu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Ticislgrb)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Ticislgrb)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Durum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Durum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Ulke)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Ulke)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Sehir)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Sehir)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Ilce)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Ilce)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Adres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Adres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Tel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Tel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Faks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Faks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Ilgili)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Ilgili)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Eposta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Eposta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Gsm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Gsm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Ilgili2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Ilgili2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Eposta2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Eposta2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Gsm2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Gsm2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Vno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Vno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Vdairesi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Vdairesi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Opkodu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Opkodu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Opaciklama)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Opaciklama)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Muhkodu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Muhkodu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Efatura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Efatura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Latitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Latitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Longitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Longitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Sevkadresref)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Sevkadresref)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Bolge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Bolge)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Indirimkod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Indirimkod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Grupkodu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Grupkodu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Kampanyakod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Kampanyakod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Aktarim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Aktarim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Onay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Onay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Songuncelleme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Songuncelleme)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Fotograf1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Fotograf1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Fotograf2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Fotograf2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Fotograf3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Fotograf3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Fotograf4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Fotograf4)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Fotograf5)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Fotograf5)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Stid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Stid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Kayittarihi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Kayittarihi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Risklimiti)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Risklimiti)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Not)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Not)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.GuncellenecekMi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.GuncellenecekMi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.GuncellendiMi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.GuncellendiMi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarilerT.Islem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarilerT.Islem)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CarilerT?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
